<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Simple Login Demo</title>
</head>

<body>
    {% include "navbar.html" %}

    {% if not user.is_authenticated %}
        <h2>Login</h2>

        <!-- Username input -->
        <input type="text" id="username" placeholder="Username" />

        <br><br>

        <!-- Password input -->
        <input type="password" id="password" placeholder="Password" />

        <br><br>

        <button onclick="loginUser()">Log In</button>

    {% else %}
        <h2>Welcome {{ user.username }}!</h2>
                
        <br><br>
        
        <button onclick="logoutUser()">Log Out</button>
    {% endif %}

    <p id="status"></p>

    <script>
        async function loginUser() {

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const statusBox = document.getElementById("status");

            statusBox.textContent = "Logging in...";

            try {
                const response = await fetch("/login/", {
                    method: "POST",
                    credentials: "include",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "username": username,
                        "password": password
                    })
                });

                if (!response.ok) {
                    const data = await response.json();
                    statusBox.textContent = "Login failed: " + (data.detail || response.statusText);
                    statusBox.style.color = "red";
                    return;
                }

                statusBox.textContent = "Login successful!";
                statusBox.style.color = "green";
                window.location.href = "/home/"; // redirect after logout

            } catch (error) {
                statusBox.textContent = "Error: " + error;
                statusBox.style.color = "red";
            }
        }

        async function logoutUser() {

            const statusBox = document.getElementById("status");

            statusBox.textContent = "Logging out...";

            try {
                const response = await fetch("/logout/", {
                    method: "POST",
                    credentials: "include", 
                    headers: {
                        "Content-Type": "application/json"
                    },
                });

                if (!response.ok) {
                    const data = await response.json();
                    statusBox.textContent = "Logout failed: " + (data.detail || response.statusText);
                    statusBox.style.color = "red";
                    return;
                }

                statusBox.textContent = "Succeffully logged out!";
                statusBox.style.color = "green";
                window.location.href = "/home/"; // redirect after logout


            } catch (error) {
                statusBox.textContent = "Error: " + error;
                statusBox.style.color = "red";
            }
        }

    </script>

</body>

</html>